---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import blogs from "@statics/blogs.json";

const date = new Date();
---

<Layout title="Welcome to Astro.">
  <main class="container">
    <h1>Welcome to <span class="text-gradient">Blogs_pot</span></h1>
    <p class="instructions">Blogs_pot description will come here.</p>
    <ul role="list" class="grid gap-8">
      {
        blogs.map((item, index) => {
          return (
            <Card
              href={item.href}
              title={item.title}
              src={item.src}
              body={item.body}
              p_date={item.p_date}
              reactions={item.reactions}
              writer={item.writer}
              writerPortfolio={item.writerPortfolio}
            />
          );
        })
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }

  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
